################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AntiVirusWebApi/bin
/AntiVirusWebApi/obj/Debug
/.vs
/AntiVirusWebApi/AntiVirusWebApi.csproj.user
/packages
