@{
	ViewBag.Title = "File Scanner";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>

<form id="frmUpload" method="POST" enctype="multipart/form-data">
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true, "", new {@class = "text-danger"})
	<div class="form-group">
		<div class="col-sm-4">
			<div class="input-group">
				<input type="text" id="File" readonly="readonly"/>
				<label class="input-group-btn">
					<span class="btn btn-primary">
						Browse &nbsp; <input type="file" id="postedFile" name="postedFile" accept="*" style="display: none;">
					</span>
				</label>
				&nbsp;
				<button id="btnUploadSubmitRequest" type="submit" class="btn btn-primary ladda-button" data-style="zoom-in">
					<span class="ladda-label">
						<span class="glyphicon glyphicon-ok"></span> Scan
					</span>
				</button>
			</div>
			<span class="text-danger" id="fileValidationErrors" />
		</div>
	</div>
</form>
<br/>
<br/>
<div class="alert alert-info">
	<div id="alertInfo">
		Result here....
	</div>
</div>
<script type="text/javascript">
	$(function () {
	});

	$("#frmUpload").on("submit", function (e) {

		console.log("triggered submit");

		e.preventDefault();

		var l = Ladda.create(document.querySelector('#btnUploadSubmitRequest'));
		l.start();

		$.ajax({
			url: "/Scan/UploadFile",
			type: "POST",
			data: new FormData(this),
			processData: false,
			contentType: false,
			dataType: "json",
			success: function (data) {
				console.log("File uploaded successfully");
				console.log(data);
				console.log($('#alertInfo'));
				$('#alertInfo').html(data.ScannedFile);
				$('#alertInfo').html(data.toString());
				console.log(data);
			},
			error: function (xhr, status, err) {
				//if(xhr.status == 400)
				//{
				//showalert($('#alertPlaceholder'), jqXHR.responseJSON.message, "alert-danger");
				//}

				console.log(xhr);
			},
			complete: function () {
				l.stop();
			}
		});
	});

	$('#postedFile').change(function () {
		$('#File').val($('#postedFile').val());
	});

</script>