@{
    ViewBag.Title = "Main";
}
<div class="row">
    <div class="col-md-4">
        <h3>Upload the file here</h3>
        <p>
            <input type="file" id="fileInput"/>
        </p>
    </div>
</div>